
Campus Music Cafe/.vs/Campus Music Cafe/v16/.suo
Campus Music Cafe/.vs/Campus Music Cafe/v16/Server/sqlite3/db.lock
Campus Music Cafe/.vs/Campus Music Cafe/v16/Server/sqlite3/storage.ide
Campus Music Cafe/.vs/Campus Music Cafe/v16/Server/sqlite3/storage.ide-shm
Campus Music Cafe/.vs/Campus Music Cafe/v16/Server/sqlite3/storage.ide-wal
Campus Music Cafe/Campus Music Cafe/bin/Debug/Campus Music Cafe.exe
Campus Music Cafe/Campus Music Cafe/bin/Debug/Campus Music Cafe.exe.config
Campus Music Cafe/Campus Music Cafe/bin/Debug/Campus Music Cafe.pdb
Campus Music Cafe/Campus Music Cafe/obj/Debug/Campus Music Cafe.exe
Campus Music Cafe/Campus Music Cafe/obj/Debug/Campus Music Cafe.vbproj.CoreCompileInputs.cache
Campus Music Cafe/Campus Music Cafe/obj/Debug/Campus Music Cafe.vbproj.FileListAbsolute.txt
Campus Music Cafe/Campus Music Cafe/obj/Debug/Campus Music Cafe.vbproj.GenerateResource.cache
Campus Music Cafe/Campus Music Cafe/obj/Debug/Campus Music Cafe.pdb
Campus Music Cafe/Campus Music Cafe/obj/Debug/Campus Music Cafe.vbprojAssemblyReference.cache
Campus Music Cafe/Campus Music Cafe/obj/Debug/Campus_Music_Cafe.frmCampusMusicCafe.resources
Campus Music Cafe/Campus Music Cafe/obj/Debug/Campus_Music_Cafe.Resources.resources
Campus Music Cafe/Campus Music Cafe/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Campus Music Cafe/Campus Music Cafe/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Campus Music Cafe/Campus Music Cafe/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
International Snacks/.vs/International Snacks/v16/.suo
International Snacks/International Snacks/obj/Debug/DesignTimeResolveAssemblyReferences.cache
International Snacks/International Snacks/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
International Snacks/International Snacks/obj/Debug/International Snacks.vbproj.CoreCompileInputs.cache
International Snacks/International Snacks/obj/Debug/International Snacks.vbprojAssemblyReference.cache
International Snacks/International Snacks/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Latte Selection/.vs/Latte Selection/v16/.suo
Latte Selection/.vs/Latte Selection/v16/Server/sqlite3/db.lock
Latte Selection/.vs/Latte Selection/v16/Server/sqlite3/storage.ide
Latte Selection/.vs/Latte Selection/v16/Server/sqlite3/storage.ide-shm
Latte Selection/.vs/Latte Selection/v16/Server/sqlite3/storage.ide-wal
Latte Selection/Latte Selection/bin/Debug/Latte Selection.exe
Latte Selection/Latte Selection/bin/Debug/Latte Selection.exe.config
Latte Selection/Latte Selection/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Latte Selection/Latte Selection/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Latte Selection/Latte Selection/obj/Debug/Latte Selection.exe
Latte Selection/Latte Selection/obj/Debug/Latte Selection.pdb
Latte Selection/Latte Selection/obj/Debug/Latte Selection.vbproj.CoreCompileInputs.cache
Latte Selection/Latte Selection/obj/Debug/Latte Selection.vbproj.FileListAbsolute.txt
Latte Selection/Latte Selection/obj/Debug/Latte Selection.vbprojAssemblyReference.cache
Latte Selection/Latte Selection/obj/Debug/Latte Selection.vbproj.GenerateResource.cache
Latte Selection/Latte Selection/obj/Debug/Latte_Selection.frmLatteSelection.resources
Latte Selection/Latte Selection/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Latte Selection/Latte Selection/obj/Debug/Latte_Selection.Resources.resources
Virtual Reality Headsets/.vs/Virtual Reality Headsets/v16/.suo
Virtual Reality Headsets/.vs/Virtual Reality Headsets/v16/Server/sqlite3/db.lock
Virtual Reality Headsets/.vs/Virtual Reality Headsets/v16/Server/sqlite3/storage.ide
Virtual Reality Headsets/Virtual Reality Headsets/bin/Debug/Virtual Reality Headsets.exe
Virtual Reality Headsets/Virtual Reality Headsets/bin/Debug/Virtual Reality Headsets.pdb
Virtual Reality Headsets/Virtual Reality Headsets/bin/Debug/Virtual Reality Headsets.exe.config
Virtual Reality Headsets/Virtual Reality Headsets/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Virtual Reality Headsets/Virtual Reality Headsets/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Virtual Reality Headsets/Virtual Reality Headsets/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Virtual Reality Headsets/Virtual Reality Headsets/obj/Debug/Virtual Reality Headsets.exe
Virtual Reality Headsets/Virtual Reality Headsets/obj/Debug/Virtual Reality Headsets.pdb
Virtual Reality Headsets/Virtual Reality Headsets/obj/Debug/Virtual Reality Headsets.vbproj.CoreCompileInputs.cache
Virtual Reality Headsets/Virtual Reality Headsets/obj/Debug/Virtual Reality Headsets.vbproj.FileListAbsolute.txt
Virtual Reality Headsets/Virtual Reality Headsets/obj/Debug/Virtual Reality Headsets.vbproj.GenerateResource.cache
Virtual Reality Headsets/Virtual Reality Headsets/obj/Debug/Virtual Reality Headsets.vbprojAssemblyReference.cache
Campus Music Cafe/Campus Music Cafe/bin/Debug/Campus Music Cafe.xml
Campus Music Cafe/Campus Music Cafe/obj/Debug/Campus Music Cafe.xml
